<div class="container menos-menu">
    <h5 class="blue-text">D.K. Lava Rápido</h5>

    <div class="col s12 m7">
        <div class="card horizontal blue-text">
            <div class="card-content grey">
                <i class="material-icons center">done</i>
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <p>Atendidos</p>
                </div>                
            </div>
            <div class="card-content">
                <p>107</p>
            </div>            
        </div>
    </div>

    <div class="col s12 m7">
        <div class="card horizontal green-text">
            <div class="card-content grey">
                <i class="material-icons center">alarm_on</i>
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <p>Agendados</p>
                </div>                
            </div>
            <div class="card-content">
                <p>29</p>
            </div>            
        </div>
    </div>    

    <div class="col s12 m7">
        <div class="card horizontal red-text">
            <div class="card-content grey">
                <i class="material-icons center">clear</i>
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <p>Faltas</p>
                </div>                
            </div>
            <div class="card-content">
                <p>7</p>
            </div>            
        </div>
    </div>  

    <div class="col s12 m7">
        <div class="card horizontal orange-text">
            <div class="card-content grey">
                <i class="material-icons center">alarm</i>
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <p>A Confirmar</p>
                </div>                
            </div>
            <div class="card-content">
                <p>14</p>
            </div>            
        </div>
    </div>    
    <button ng-click="Manager.guilherme()">opa</button>
</div>