<!DOCTYPE html>
<html data-ng-app="carwash4u">
    <head>
        <title>Carwash4u</title>
        <meta charset="utf-8">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="vendor/materialize/dist/css/materialize.css"  media="screen,projection"/>
        <link type="text/css" rel="stylesheet" href="public/css/style.css" />
        <link href="favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
    </head>
    <body>
        <nav class="blue" role="navigation">
            <div class="nav-wrapper container">
                <a href="#" id="logo-container" class="brand-logo">
                    <span style="font-family: untitled-font-1" data-icon="&#xca;"></span>                    
                    Carwash4u
                </a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="#">Navbar-Link</a></li>
                </ul>
                <ul id="nav-mobile" class="side-nav">
                    <li><a href="#">Navbar-Link</a></li>
                </ul>
                <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
            </div>
        </nav>                
        <div data-ng-view></div>
        <footer class="page-footer black darken-1">
            <div class="container">
                <div class="row blue-grey-text">
                    <div class="col l6 s12">
                        <h5>Carwash4u</h5>
                        <p>Criado para facilitar a vida das pessoas, usufruindo das tecnologia disponíveis em suas mãos.</p>
                    </div>
                    <div class="col l3 s12">
                        <h5>Contato</h5>
                        <ul>
                            <li>contato@carwash4u.com.br</li>
                        </ul>
                    </div>
                    <div class="col l3 s12">
                        <h5>Redes Sociais</h5>
                        <i class="material-icons">face</i>
                        <i class="material-icons">book</i>
                        <i class="material-icons">polymer</i>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    Criado por <a class="orange-text text-lighten-3" href="#">Solutions4all</a>
                </div>
            </div>
        </footer>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD4O3j30Ktxg0LrfptRTd73nQdV4BL1qR4&amp"></script>
        <script src="vendor/angular/angular.js"></script>
        <script src="vendor/angular-route/angular-route.js"></script>        
        <script src="vendor/jquery/dist/jquery.js"></script>
        <script src="vendor/materialize/dist/js/materialize.js"></script>        
        <script src="vendor/ngmap/build/scripts/ng-map.js"></script>
        <script src="js/main.js"></script>
        <script src="js/controllers/HomeController.js"></script>
        <script src="js/controllers/CarWashesController.js"></script>        
    </body>
</html>