<div data-ng-map class="map" data-disable-default-u-i="true" 
    center="{{CarWashes.minhaLocalizacao}}" >
    <marker id="minha-posicao" position="{{CarWashes.minhaLocalizacao}}">      
    </marker>
    <marker ng-repeat="p in CarWashes.washes"
      id="marker-{{$index}}"
      position="{{p.pos}}"
      icon="{{p.icon}}" 
	  on-click="CarWashes.showData(p)"
      animation="DROP" >
    </marker>	 
	<info-window id="foo-iw">
           <div ng-non-bindable="">
                <b>{{CarWashes.place.nome}}</b>
                <br>
                <br>
                <div class="row center">                    
                    <a class='btn blue' data-target='demoModal' data-modal>Mais informações</a>
                </div>
           </div>
     </info-window>	   
</div>


<div id="demoModal" class="modal bottom-sheet">
    <div class="modal-content">
        <h4>{{CarWashes.place.nome}}</h4>
        <address>{{CarWashes.place.endereco}}</address>
        <p>Não é possível agendar um horário neste estabelecimento.</p>
    </div>    
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Ok</a>
    </div>
</div>