<div class="container">
    <h1 class="header center blue-text">Carwash4u</h1>
    <div class="row center">
        <h5 class="header col s12 light">Encontre o lava-rapido mais proximo de você!</h5>
    </div>
    <div class="row center">
        <a data-ng-href="#/carwashes" id="start" class="btn-large waves-effect waves-light blue">
            <i class="material-icons left">search</i>
            Procurar
        </a>
    </div>   
</div>
<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s12 m12">
                <div class="icon-block">
                    <h2 class="center blue-text"><i class="material-icons">location_on</i></h2>                    
                    <h5 class="center">Sua localização como referência</h5>
                    <p class="light">
                        Com base em sua localização, iremos buscar o lava rápido mais proximo de você, 
                        onde você poderá visualizar os horários disponíveis para contratação do serviço 
                        e até mesmo realizar o agendamento do serviço, sem sair de casa.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="page-footer black darken-1">
    <div class="container">
        <div class="row blue-grey-text">
            <div class="col l6 s12">
                <h5>Carwash4u</h5>
                <p>Criado para facilitar a vida das pessoas, usufruindo das tecnologia disponíveis em suas mãos.</p>
            </div>
            <div class="col l3 s12">
                <h5>Contato</h5>
                <ul>
                    <li>contato@carwash4u.com.br</li>
                </ul>
            </div>
            <div class="col l3 s12">
                <h5>Redes Sociais</h5>
                <i class="material-icons">face</i>
                <i class="material-icons">book</i>
                <i class="material-icons">polymer</i>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Criado por <a class="orange-text text-lighten-3" href="#">Solutions4all</a>
        </div>
    </div>
</footer>